<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <title>Show one Book</title>
 <meta name="keywords" content="Books, recent, Learning, library">
 <meta name="description" content="Books website">
 <meta name="author" content="author name">
 <link rel="icon" href="{% static 'qu-icon.jpeg' %}">
 <link rel="stylesheet" href="{% static 'styles.css' %}">
 <meta charset="UTF-8">
</head>
<body>
<a href="{% url "books.list_books" %}">Go Back</a>
<h1>Details of Book1</h1>
<h2>ISoul</h2>
<h2>Author: author name</h2>
<p><strong> Soul, 5/e </strong> The life that Kim and Krickitt Carpenter knew changed completely on November 24, 1993, two months after their wedding,
     when the back of their car was struck by a speeding pickup truck. A serious head injury left Krickitt in a coma for several weeks. When she finally woke up,
      part of her memory was impaired and she could not remember her husband. She had no idea who he was. Essentially, the "Krickitt" that Kim had married had died in the accident, and now he needed to win back the woman he loved..</p>
<img src="{% static 'book1.jpeg' %}" alt="Book1 img desc" width="200" height="200">
</body>
</html>